/* Import fontello */
/*@import "fontello/fontello.less";
@import "fontello/fontello-codes.css";
@import "fontello/fontello-embedded.css";
@import "fontello/fontello-ie7-codes.css";
@import "fontello/fontello-ie7.css";*/
@import "reset";
  /* Import GRID */
@import 'grid';

@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;

//Fonts
@font-face {
  font-family: 'SourceSansProBold';
  src: url('fonts/SourceSansPro-Bold-webfont.eot');
  src: url('fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro-Bold-webfont.woff') format('woff'), url('fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'), url('fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url('fonts/SourceSansPro-Light-webfont.eot');
  src: url('fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro-Light-webfont.woff') format('woff'), url('fonts/SourceSansPro-Light-webfont.ttf') format('truetype'), url('fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLightItalic';
  src: url('fonts/SourceSansPro-LightIt-webfont.eot');
  src: url('fonts/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro-LightIt-webfont.woff') format('woff'), url('fonts/SourceSansPro-LightIt-webfont.ttf') format('truetype'), url('fonts/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('fonts/SourceSansPro-Regular-webfont.eot');
  src: url('fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SourceSansPro-Regular-webfont.woff') format('woff'), url('fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'), url('fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmaranthBold';
  src: url('fonts/Amaranth-Bold-webfont.eot');
  src: url('fonts/Amaranth-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Amaranth-Bold-webfont.woff') format('woff'), url('fonts/Amaranth-Bold-webfont.ttf') format('truetype'), url('fonts/Amaranth-Bold-webfont.svg#AmaranthBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmaranthItalic';
  src: url('fonts/Amaranth-Italic-webfont.eot');
  src: url('fonts/Amaranth-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Amaranth-Italic-webfont.woff') format('woff'), url('fonts/Amaranth-Italic-webfont.ttf') format('truetype'), url('fonts/Amaranth-Italic-webfont.svg#AmaranthItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@proRegular: 'SourceSansProRegular', Arial, sans-serif;
@proBold: 'SourceSansProBold', Arial, sans-serif;
@proLight: 'SourceSansProLight', Arial, sans-serif;
@proLightIt: 'SourceSansProLightItalic', Arial, sans-serif;
@aramanthBold: 'AmaranthBold', Arial, sans-serif;
@aramanthIt: 'AmaranthItalic', Arial, sans-serif;

//Colors
@deepGrey: #373737;
@lightGrey: #CFCFCF;
@lightBlue: #096099;
@deepBlue: #061f40;
@lightRed: #f21313;
@deepRed: #b2172d;

//Radius
.radius-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

//Shadow
  .box-shadow (@x: 0

;
@y: 0;
@blur: 10px;
@color: @lightGrey)
{
  box-shadow: @arguments
;
  -moz-box-shadow: @arguments
;
  -webkit-box-shadow: @arguments
;
}

.clearfix() {
  zoom: 1;
  &:before {
    content: '';
    display: block;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*
* Pour IE et hack IE
*/
.imageIE {
  width: 45px;
}

legend{
  *margin-left: -0.5em; /* Cible IE8 et inférieur */
}

/*
* COMMON CONTENT
*/

body {
  font-size: 16px;
  font-family: @proRegular;
  margin: 0px auto;
  background-image: url('./images/bkg_content.png');
}

.titleDisplay {
  display: none;
}

ul, ol {
  margin-bottom: 1em;
}

em {
  font-family: @proLightIt;
  margin-top: 0.5em;
  display: inline-block;

}

blockquote {
  margin: 0 2em;

  p {
    font-family: @aramanthIt;
    color: @lightBlue;
  }
}

h2 {
  font-family: @aramanthBold;
  margin-bottom: .5em;
  font-size: 2em;
  color: @lightRed;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: @deepRed;
  font-family: @proRegular;

  &:hover img {
    border-bottom: 5px solid @deepRed;
  }

  &:hover {
    text-decoration: underline;
  }

  &:visited{
    //color: @deepBlue;
  }
}

h3 {
  font-family: @aramanthBold;
  font-size: 1.5em;
  margin-top: .5em;
  color: @deepBlue;
  clear: both;
  letter-spacing: 1px;
}

p {
  color: @deepBlue;
  line-height: 1.25em;
  margin-bottom: 1em;
  font-family: @proLight;
  font-size: 1.25em;
}

#contactForm input:focus, #contactForm textarea:focus, #loginform input:focus{
  border-color: @deepBlue;
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 5px 5px 25px rgba(6, 31, 64, 0.6);
  -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 5px 5px 25px rgba(6, 31, 64, 0.6);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 5px 5px 25px rgba(6, 31, 64, 0.6);
}

aside, #contactForm, .liens img{
    .box-shadow(1px; 1px);
}


.header, .footer {
  clear: both;
  height: 125px;
  width: 100%;
  background-image: url('./images/bkg_fo_he.png');
  color: white;

  .banner {
    width: 960px;
    margin: 0 auto;
  }

  p{
    font-size: 1em;
  }

  a {
    text-decoration: none;
    color: white;
    display: inline-block;

    &:hover {
      text-decoration: 1px solid @lightBlue;
    }
  }
}

.header {
  border-bottom: 5px solid #cfcfcf;

  .logo {
    .column(4);

    img {
      .column(4);
      margin-top: 1em;
    }

    &:hover img {
      border-bottom: none;
    }

    h1 {
      color: #fff;
      .column(8);
      margin-top: 1em;
      font-family: @aramanthBold;
      font-size: 1em;
    }
  }

  nav {
    .column(8);
    height: 37px;
    margin-top: 1em;

    li {
      .column(3);
      height: 20px;
      position: relative;
      font-family: @proBold;
      margin-bottom: 1em;
      letter-spacing: 0.25px;
      letter-spacing: 0.2px\9;

      &:before {
        content: '|';
        color: @lightBlue;
        margin-right: 1em;
        font-family: @proLight;
      }

      &:active {
        color: @lightBlue;
      }

      &:hover a {
        padding-bottom: 0.25em;
        border-bottom: 3px solid white;
      }
    }

    a {
      font-family: @proBold;
    }

    .current_page_item a {
      padding-bottom: 0.25em;
      border-bottom: 3px solid @lightBlue;
    }

  }
}

.footer {
  border-top: 5px solid #cfcfcf;
  height: 100%;

  .current-menu-item a{
    border-bottom: 1px solid @lightBlue;
  }

  input[type="submit"] {
    height: 25px;
    border-color: @lightGrey;
    float: none;
    margin: 0em;
    width: 100%;
    width: 109%\9;
  }

  input[type="text"] {
    height: 25px;
    width: 200px;
    border-color: @lightGrey;
    width: 94%\9;
  }

  .banner div {
    .column(3);

    .menu-menu_principal-container{
      width: 100%;
    }

    a {
      font-family: @proLight;
      color: @lightGrey;
      margin-left: 1em;

      &:hover {
        text-decoration: underline;
      }
    }

    .gmap {
      .column(12);

      a {
        margin-left: 0;
        *margin-top: 0.5em; /* Cible IE8 et inférieur */
      }
    }

    .menu {
      margin-top: 0em;
    }
  }

  li {
    margin-bottom: 0.25em;
  }

  fieldset {
    margin-top: 1em;
    padding: 0em 1em;
  }

  label {
    margin: 0.25em 0;
  }

  h3 {
    border-bottom: 1px solid #096099;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-family: @aramanthBold;
    color: white;
    font-size: 1em;
    letter-spacing: 1.5px;
  }

  p {
    margin-left: 1em;
    line-height: 1.25em;
    margin-bottom: 0em;
    font-family: @proLight;
    color: @lightGrey;
  }


  .copy {
    clear: both;
    background-color: black;
    color: @lightGrey;
    font-size: .75em;
    padding: .5em 0em 1em 0.5em;
    font-family: @proLight;

    p {
      margin: 1em 0 0 1em;
      line-height: 0em;
    }

    a {
      color: @lightBlue;
      margin-bottom: 0.25em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

fieldset {
  padding: 1em;

  label {
    color: @lightGrey;
    margin-bottom: .5em;
    display: inline-block;
  }
  input[type="submit"] {
    .column(6);
    .push(6);
    height: 35px;
    color: @deepGrey;
    background-color: @lightGrey;
    .radius-corners(6px);
    border: 1px solid @deepBlue;
    font-size: 0.8em;
    margin-top: 0.5em\9;

    &:hover {
      cursor: pointer;
      border: 1px solid @deepBlue;
      background-color: @deepBlue;
      color: #ffffff;
    }
  }

  input[type='email'], input[type='text'], input[type="email"], input[type="tel"], input[type="password"] {
    height: 35px;
    width: 200px;
    padding: 0 1em;
    font-size: 0.75em;
    margin-bottom: 1.5em;
    border: 1px @deepGrey solid;
    display: block;
    .radius-corners;
  }

  textarea {
    border: 1px @deepGrey solid;
    width: 95%;
    font-size: 0.75em;
    padding: 0.5em 1em;
    .radius-corners();
    width: 93.5%\9;
  }

}

.content {
  width: 960px;
  margin: 1em auto;
}

// Slider
body .sliderAccueil {
  height: 250px;

  h2 {
    visibility: hidden;
    margin-top: -1.5em;
  }

  figcaption {
    top: 175px;
    width: 150px;

    p {
      font-family: @proRegular;
      font-size: 1em;
    }
  }
}

#slider-not-supported {
  display: block;
}

#slider-supported {
  display: none;
}

.slider, .sliderAccueil {
  border: .2em solid #cfcfcf;
  height: 175px;
  position: relative;

  a {
    display: block;
    height: 150px;
    text-decoration: none;

    &:hover img {
      border-bottom: none;
    }

    h3 {
      font-family: @aramanthBold;
      margin-bottom: .5em;
      font-size: 1.25em;
      color: @lightRed;
    }
  }

  .precedent, .suivant, .pause {
    position: absolute;
    color: #ffffff;
    font-family: @proBold;
    font-size: 2em;
    cursor: pointer;
    padding: 0 .5em;
    margin-top: 2em;
  }

  .suivant {
    left: 890px;
  }

  .pause{
    left: 420px;
    font-family: @aramanthBold;
    padding: 0.5em 1em;
    margin-top: 1.3em;
  }

  figure {
    margin: 0px;
  }

  figcaption {
    position: absolute;
    top: 110px;
    left: 25px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: #fff\9; /* Cible IE9 et toutes les versions inférieures */
    padding: 1em;
    color: @deepBlue;
    line-height: 1.25em;
    .radius-corners(6px);
    height: 20px;

    a {
      height: 50px;
    }

    h3 {
      font-family: @aramanthBold;
      margin-bottom: .5em;
      margin-top: 0em;
      font-size: 1.25em;
      color: @lightRed;
    }
  }

  .infoBanner {
    top: 75px;
    left: 25px;
    width: 250px;
    height: 100px;

    a {
      height: 100px;
    }
  }

}

section {
  margin: 2em 0;
}

.linkTo {
  margin-top: 2.5em;

  li {
    .column(4);
    margin-bottom: 1em;
  }

  a {
    .column(12);

    &:hover figcaption {
      border-bottom: 5px solid @deepRed;
      *border-color: none; /* Cible IE 8 et inférieur */
    }
  }

  figure {
    .column(12);
  }

  img {
    .column(3.25);
  }

  figcaption {
    font-family: @proBold;
    .column(7.75);
    .push(1);
    font-size: 1.5em;
    margin-top: .5em;
    color: @deepRed;
  }
}

.liens ul {
  margin-top: 1em;
  clear: both;

  li {
    .column(4);
    margin-bottom: 1em;
    height: 100px;

    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 2em 0 1em 0;
    }

    img{
      border-bottom: 5px solid @lightGrey;

      &:hover{
        border-color: @deepRed;
      }
    }
  }
}

/*
* FORMATIONS
*/
.contentColonne {
  .column(8);
  margin-bottom: 1em;
  margin-left: 0em;
}

section {

  figure {
    .column(3.5);
    .push(0.5);

    img {
      border-bottom: 5px solid @lightGrey;

    }
  }

  li {
    color: @deepBlue;
    list-style-type: square;
    line-height: 1.5em;
    margin-left: 2em;
    font-family: @proLight;
    font-size: 1.25em;
  }

  b, strong {
    font-family: @proBold;
  }
}

h4 {
  color: @lightBlue;
  margin-top: 1em;
  font-family: @proBold;
  margin-bottom: .5em;
  font-size: 16px;
}

/*
* PUBLICATIONS
*/
.page-id-82 section {

  figure {
    width: 100%;
    text-align: center;

    &:hover {
      figcaption {
        text-decoration: underline;
      }
    }
  }

  .intro {
    margin-bottom: 3em;
  }
}

.publication {
  background-color: @lightBlue;
  .column(3);
  .radius-corners();
  padding-bottom: 1em;
  height: 350px;

  span {
    color: @deepBlue;
    .column(2.5);
    font-size: 2em;
    .push(4.75);
    .pull(4.75);
    margin-bottom: 0.25em;
  }

  div {
    height: 195px;
  }

  p{
    font-size: 1em;
  }

  p, header, figure {
    margin: 0.5em;
  }

  figure {
    margin: 0px;
  }

  p, h3, figcaption {
    color: #ffffff;
  }

  a:hover img {
    border-color: #ffffff;
  }

  .linkPubli {
    margin-top: 1em;
    text-align: center;
    font-family: @proRegular;

    a {
      color: white;
    }
  }
}

/*
* AUDIOVISUEL
*/
.films {
  li {
    list-style-type: none;
    margin-left: 0em;
    margin-bottom: 2em;
    p{
      font-size: 1em;
    }
  }
}

aside {
  .column(4);
  margin-top: 4.5em;
  background-color: @lightBlue;
  height: 100%;
  .radius-corners(6px);

  div {
    margin-bottom: 1em;

    li span {
      font-size: 0.65em;
      color: white;
      float: none;
      width: 100%;
      margin-left: 0.2em;
      *margin-top: -0.85em; /* Cible IE8 et inférieur */
      *float: right; /* Cible IE8 et inférieur */
      *margin-left: 13em; /* Cible IE8 et inférieur */
    }
  }

  em {
    font-size: 0.75em;
    color: #ffffff;
    margin-top: 0.75em;
    margin-bottom: 1em;
  }

  span {
    color: @deepBlue;
    font-size: 2.5em;
    .column(2.5);
    .push(4.75);
    margin-top: 0.5em;
  }

  h3 {
    color: #fff;
    padding: 0.5em 1em 0.25em 0.65em;
    *margin-top: 0.5em; /* Cible IE8 et inférieur */
    *padding-top: 0em; /* Cible IE8 et inférieur */
  }

  ol {
    padding: 0em 1em;
  }

  li {
    margin-bottom: .5em;
    list-style: square;
    margin-left: 1em;
    font-family: @proRegular;
    font-size: 1.15em;
    color: @deepBlue;

    a {
      color: #ffffff;

      &:hover {
        border-bottom: 5px solid @deepBlue;
        text-decoration: none;
      }
    }
  }

  legend {
    color: #fff;
    font-family: @aramanthBold;
    padding-top: 1em;
    line-height: 0em;
    letter-spacing: 1px;
    line-height: 1em\9;
    padding-top: 0em\9;
  }

  label {
    margin: .25em 0;
    color: #fff;
  }

  input[type="submit"] {
    border-color: @lightGrey;
    .column(12);
  }

  input[type="text"] {
    width: 240px;
    border-color: @lightGrey;
  }

  p {
    font-family: @proRegular;
    color: #fff;
    padding: 0em 1em 0 1em;
    margin-bottom: 0em;
    font-size: 1.15em;
  }
}

.youtubeChaine {
  clear: both;
  margin: 2em 0 3em 0;

  div {
    margin-bottom: 1em;
  }

  li {
    list-style-type: none;
    *list-style-type: disc; /* Cible IE8 et inférieur */
    color: @deepRed;
    font-family: @proRegular;
    line-height: 1.5em;
    margin-left: 0.5em;
    font-size: 1.25em;
  }
}

/*
* CONTACT
*/
.contentColonne {

  .error {
    font-family: @proLightIt;
  }


  fieldset {
    border: 1px solid @lightGrey;
    padding: 1em;
    background-color: @deepRed;
    height: 100%;
    .radius-corners(6px);

    p {
      color: white;
      font-family: @proLight;
    }

    label {
      font-family: @proRegular;
      color: white;
      font-size: 1em;
    }

    input[type="text"], input[type="tel"], input[type="email"], textarea {
      margin-bottom: 0.25em;
      border-color: @lightGrey;
    }

    input[type="submit"] {
      border-color: @lightGrey;

      &:hover {
        border-color: @deepBlue;
      }
    }

    .homme {
      font-family: @proLight;
      input {
        margin-left: 1em;
      }
    }

    .femme {
      margin-bottom: 1em;
      font-family: @proLight;

      input {
        margin-left: 1.35em;
        margin-left: 1.25em\9;
      }
    }

    li {
      list-style-type: none;
    }
  }

  #contactForm input[type="email"], input[type="tel"], input[type="text"] {
    width: 300px;
  }
}

.page-id-25, .page-id-356 {
  aside {
    margin-top: -1em;

    input[type='email'] {
      width: 250px;
    }
  }
}

dl {
  padding: 0em 1em;
  color: white;
  font-size: 1.15em;

  dt {
    font-family: @proRegular;
    margin-top: 0.5em;
  }

  dd {
    margin-top: 0.25em;
  }
}

.contactEquipe {
  clear: both;
  padding-top: 2em;

  .poste {
    height: 30px;
  }

  li {
    .column(3);
    height: 400px;
    text-align: center;

    figure {
      .column(9);
      .push(1.5);

      img {
        border-bottom: 5px solid @lightGrey;
      }
    }

    h3 {
      height: 50px;
    }
  }

  p {
    margin-bottom: 0;
    clear: both;
    font-size: 1em;
  }
}

/*
* LIENS
*/
.farSites, .othersSites {
  .column(5.95);
  border-right: 1px solid @lightBlue;
  margin-bottom: 1em;
  margin-top: 1em;

  header {
    margin-bottom: 1em;
  }

  li{
    .column(12);
    margin-bottom: 2em;
    *margin-bottom: 1em; /* Cible IE8 et inférieur */

    p{
      font-size: 1em;
    }
  }

  .description {
    float: none;
    display: block;
  }

  figure {
    .column(2.75);
    margin-bottom: 0.2em;
  }

  h3 {
    margin-top: 0;
    clear: none;
    *padding-top: 1em; /* Cible IE8 et inférieur */
  }

}

.othersSites {
  border-right: none;
}

/*
* COURS
*/
.connectionString{
  display: none;
  margin-bottom: 0em;
}

.page-id-27 aside {
  margin-top: 0.5em;
  *margin-top: -0.75em; /* Cible IE8 et inférieur */
}

#login-error {
  font-family: @proLightIt;
  margin-bottom: 1.5em;
  background-color: #FFEBE8;
  border:1px solid #C00;
  padding:5px;
}

#loginform {
  .column(4);
  .push(4);
  border: 1px solid #cfcfcf;
  padding-top: 1em;
  background-color: @deepRed;
  height: 100%;
  .radius-corners();
  color: white;

  .login-username, .login-password{
    padding: 0em 1em;
  }

  a{
    color: #fff;
  }

  input[type="submit"]{
    float: none;
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1em;
    height: 30px;
  }

  .error{
    font-family: @proLightIt;
  }

  label {
    color: #ffffff;
    font-family: @proBold;
    letter-spacing: 1px;
  }

  input:-webkit-autofill {
    background-color: @lightGrey !important;
    color: @deepBlue !important;
  }

  input{
    background-color: @lightGrey;
    border-color: @lightGrey;
    color: @deepBlue;
    height: 25px;
    width: 245px;
    .radius-corners();

    &[type="submit"]:hover {
      background-color: @deepBlue;
      color: #ffffff;
      border-color: @deepBlue;
    }
  }

  input[type="checkbox"] {
    width: 25px;
    margin-left: 2em;
    height: 15px;
  }

  input[type="submit"]{

  }
}

#logOut {
  margin-top: -2em;
  display: block;
  font-family: @proBold;
  float: right;
  margin-right: 0.75em;

  &:hover {
    text-decoration: none;
    border-bottom: 5px solid @deepRed;
  }

}

.level {
  list-style-type: none;

  li {
    list-style-type: none;
  }

  div {
    background-color: @deepRed;
    .column(12);
    *width: 98%; /* Cible IE8 et inférieur */
    margin-bottom: 2em;

    h3 {
      color: white;
      font-size: 0.75em;
      .column(9);
      padding: .25em;
      font-family: @proBold;
    }

    h4 {
      padding: .25em;
      color: white;
      font-family: @proBold;
      .column(11.5);
      letter-spacing: 1px;
      font-size: 0.65em;

      &:after {
        content: "+";
        float: right;
        font-size: 1.5em;
        font-size: 1em\9;
        margin-right: -0.25em
      }
    }

    h5 {
      color: @deepRed;
      padding: .5em;
      font-family: @proBold;
      font-size: 0.5em;
      line-height: 1em;

      &.more:after {
        content: '+';
        float: right;
        font-size: 1.5em;
        font-size: 1em\9;
        margin-right: 0.25em;
        font-family: @proBold;
      }

      em {
        margin-left: 0.5em;
        display: inline;
        font-family: @proLight;
      }
    }

    p {
      color: white;
      font-family: @proBold;
    }
  }


  .year div {
    background-color: @deepBlue;
    cursor: pointer;
    .column(11.5);
    .push(0.5);
    margin-bottom: 2em;
    cursor: pointer;
    *width: 94%; /* Cible IE8 et inférieur */
    *margin: 0 0 1em 1em; /* Cible IE8 et inférieur */

    p:after {
      content: "+";
    }

      /* For IE */
    span{
      color: #fff;
      margin-left: -0.5em;
      font-family: @proBold;
    }
  }

  .subject {
    .column(11);
    .push(1);

    div {
      border: 1px solid @lightGrey;
      background-color: #ffffff;
      cursor: pointer;
      .column(12);
      margin-bottom: 1em;
      *height: 50px; /* Cible IE8 et inférieur */
      *width: 96%; /* Cible IE8 et inférieur */
      *margin: 1em 0; /* Cible IE8 et inférieur */

      /* For IE */
      span{
        color: @deepRed;
        float: right;
        font-size: 1.25em;
        margin-top: -1.5em;
        margin-right: 0.5em;
        font-family: @proBold;
      }

      p {
        color: @deepRed;

        &:after {
          content: none;
        }
      }
    }

    li {
      .column(3);
      height: 150px;

      p{
        font-size: 0.5em;
      }

      a {
        color: @deepBlue;
      }

      span {
        font-size: 1.5em;
        color: @deepBlue;
      }
    }
  }
}

/*
* ARCHIVES
*/
section.contentColonne {
  margin-top: 1em;
}

article {
  margin: 1em 0 2em 0;
  border-bottom: 1px solid @lightBlue;
}

.category{
  margin-top: 0.25em;
}

/*************** MEDIA 481px **************/

@media only screen and (max-width: 481px){
  .header, .footer{
    width: 1000px;
  }

  .content{
    padding: 0 1em;
  }
}

/*************** MEDIA 482px - 768px **************/
@media only screen and (min-width: 483px) and (max-width: 768px){
  .header, .footer{
    width: 1000px;
  }

  .content{
    padding: 0 1em;
  }
}

/*************** MEDIA 945px - 770px **************/

@media only screen and (max-width: 945px) and (min-width: 770px) {
  .header, .footer{
    width: 1000px;
  }

  .content{
    padding: 0 1em;
  }

  .level{
    div{
      height: 50px;
    }
  }
}